table {
	text-align : center;
	width : 100% ;
	height : 100% ;
	background-repeat: no-repeat ;
	background-position: center  ;
	background-size : cover ;
}

 
div {

	  margin-left: 700px;
/*	  margin-right: 100px;  */
	  background-color: lightgrey ;
	  border: 2.5px solid black;
	  opacity: 0.9;
	  width : 150px ;
/*	  height: 100px ;
*/	  padding : 50px ;
}


tr {
	width : 100% ;
	height : 100% ;
}


#loginb {
	background-color : black;
	font-size : 20 ;
	text-align : center ;
	color: white ;
}